/*  CSS for Password Generator */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{
    text-align: center;
    padding: 10px;
}
h2{
    font-size: 30px;
}

.container{
    height: 500px;
    width: 800px;
    border: solid  lightgrey 2px;
    padding: 70px;
    margin-top: 10px;
   
}

.content-box{
    font-size: 20px;
    text-align: center;
    border: dashed grey;
    width: 700px;
    height: 200px;
    padding: 20px;
}
.bg-danger{
    background-color: #750b0b;

}
.btn-secondary{
    background-color: rgb(155, 152, 152);
    
}